In [14]:
#import libraries
#!pip install kaggle
import kaggle
!pip install pandas
#download dataset from kaggle api
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Requirement already satisfied: pandas in c:\anaconda\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\anaconda\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\anaconda\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\anaconda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Invalid dataset specification /ankitbansal06/retail-orders

In [66]:
#extract from zipfile
import zipfile
zip_ref = zipfile.ZipFile("orders.csv.zip")
zip_ref.extractall() # extract file to dir yyoun can give extract dir target path
zip_ref.close # close file

In [3]:
import pandas as pd
#read file and replace non available values as Nan
orders=pd.read_csv("orders.csv",na_values=['Not Available', 'unknown'])
#display(orders)
#orders.head(20)
orders['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [7]:
#convert column names to lower case and rerplace spaces by underscore
orders.columns = orders.columns.str.lower()
orders.columns = orders.columns.str.replace(' ','_')
orders.columns
orders

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [9]:
#derive new columns
orders['discount'] = orders['list_price']*orders['discount_percent']*0.01

orders['selling_price'] = orders['list_price']-orders['discount']
orders['profit'] = orders['selling_price']-orders['cost_price']
orders.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,selling_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

In [11]:
orders['order_date'] = pd.to_datetime(orders['order_date'],format='%Y-%m-%d')
orders.dtypes
#orders

order_id                     int64
order_date          datetime64[ns]
ship_mode                   object
segment                     object
country                     object
city                        object
state                       object
postal_code                  int64
region                      object
category                    object
sub_category                object
product_id                  object
cost_price                   int64
list_price                   int64
quantity                     int64
discount_percent             int64
discount                   float64
selling_price              float64
profit                     float64
dtype: object

In [40]:
orders.drop(columns=['cost_price','list_price','discount_percent'],inplace=True)
orders

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,selling_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,3,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,2,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,4,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,2,7.2,232.8,22.8

In [6]:
!pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy in c:\anaconda\lib\site-packages (from pandasql) (1.26.4)
Requirement already satisfied: pandas in c:\anaconda\lib\site-packages (from pandasql) (2.1.4)
Requirement already satisfied: sqlalchemy in c:\anaconda\lib\site-packages (from pandasql) (2.0.25)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\anaconda\lib\site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\anaconda\lib\site-packages (from pandas->pandasql) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\anaconda\lib\site-packages (from pandas->pandasql) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\anaconda\lib\site-packages (from sqlalchemy->pandasql) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\anaconda\lib\site-packages (from sqlalchemy->pandasql) (3.0.1)
Requirement already satisfied: six>=1.5 in c:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py): started
  Building wheel for pandasql (setup.py): finished with status 'done'
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26798 sha256=6200579aae93ffa2d898df5d12e80c1fe358c0a487ee0fcc738fc5d875c99b1e
  Stored in directory: c:\users\shruti.dhage\appdata\local\pip\cache\wheels\68\5d\a5\edc271b998f909801d7956959f699b976cc9896075dc47c153
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [13]:
import pandasql as psql
#try pandas sql
# Example DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3, 7],
    'B': [5, 6, 7, 8]
})

# Define your SQL query
query = "SELECT * FROM df WHERE A > 2"

# Run the query
df_sql = psql.sqldf(query, locals())
print(df_sql)

   A  B
0  3  7
1  7  8

In [15]:
orders

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,selling_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,22.8

In [17]:
orders.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent', 'discount', 'selling_price', 'profit'],
      dtype='object')

In [19]:
len(orders.columns)

19

In [44]:
orders

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,selling_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,3,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,2,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,4,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,2,7.2,232.8,22.8

In [21]:
#find top 10 highest revenue generating products
query = "SELECT product_id,sum(selling_price) as sales_price FROM orders group by product_id order by sales_price  desc limit 10 "
#query = "select * from orders"

# Run the query
df_sql = psql.sqldf(query, locals())
print(df_sql)

        product_id  sales_price
0  TEC-CO-10004722      59514.0
1  OFF-BI-10003527      26525.3
2  TEC-MA-10002412      21734.4
3  FUR-CH-10002024      21096.2
4  OFF-BI-10001359      19090.2
5  OFF-BI-10000545      18249.0
6  TEC-CO-10001449      18151.2
7  TEC-MA-10001127      17906.4
8  OFF-BI-10004995      17354.8
9  OFF-SU-10000151      16325.8

In [27]:
#find top 5 highest selling product in each region.
query = f"""select * from 
(select region,product_id,sales,dense_rank() over (partition by region order by sales desc) as rnk from  
(SELECT region,product_id,sum(selling_price)  as sales from orders group by product_id,region)) where rnk<=5"""
#or with cte we can do
query ="with cte as (SELECT region,product_id,sum(selling_price)  as sales from orders group by product_id,region) select * from ( select *,dense_rank() over (partition by region order by sales desc) as rnk  from cte) where rnk<=5"

# Run the query
df_sql = psql.sqldf(query, locals())
print(df_sql)

     region       product_id    sales  rnk
0   Central  TEC-CO-10004722  16975.0    1
1   Central  TEC-MA-10000822  13770.0    2
2   Central  OFF-BI-10001120  11056.5    3
3   Central  OFF-BI-10000545  10132.7    4
4   Central  OFF-BI-10004995   8416.1    5
5      East  TEC-CO-10004722  29099.0    1
6      East  TEC-MA-10001047  13767.0    2
7      East  FUR-BO-10004834  11274.1    3
8      East  OFF-BI-10001359   8463.6    4
9      East  TEC-CO-10001449   8316.0    5
10    South  TEC-MA-10002412  21734.4    1
11    South  TEC-MA-10001127  11116.4    2
12    South  OFF-BI-10001359   8053.2    3
13    South  TEC-MA-10004125   7840.0    4
14    South  OFF-BI-10003527   7391.4    5
15     West  TEC-CO-10004722  13440.0    1
16     West  OFF-SU-10000151  12592.3    2
17     West  FUR-CH-10001215   9604.0    3
18     West  OFF-BI-10003527   7804.8    4
19     West  TEC-AC-10003832   7722.7    5

In [110]:
# find month over month growth over sales eg jan 2022 vs jan2023
query ="with cte as (select STRFTIME('%m', order_date)  as month,STRFTIME('%Y',order_date) as year, sum(selling_price) as sales from orders  where STRFTIME('%Y',order_date) in ('2022','2023') group by STRFTIME('%m', order_date),STRFTIME('%Y', order_date) ) select T22.month,T22.sales as sales_2022 , T23.sales as sales_2023 from cte T22 inner join cte T23 on T22.month=T23.month and T22.year<>T23.year where T22.year='2022' "
# Run the query
df_sql = psql.sqldf(query, locals())
print(df_sql)

   month  sales_2022  sales_2023
0     01     94712.5     88632.6
1     02     90091.0    128124.2
2     03     80106.0     82512.3
3     04     95451.6    111568.6
4     05     79448.3     86447.9
5     06     94170.5     68976.5
6     07     78652.2     90563.8
7     08    104808.0     87733.6
8     09     79142.2     76658.6
9     10    118912.7    121061.5
10    11     84225.3     75432.8
11    12     95869.9    102556.1

In [31]:
#for each month which category  had highest sales?
query =f"""select STRFTIME('%Y%m', order_date)  as month,
category, sum(selling_price) as sales from orders    group by 
category,STRFTIME('%Y%m', order_date) 
 """
temp = psql.sqldf(query, locals())
print(temp)

temp2= """ select T2.category,T2.month,T1.max_sale from   (select month,max(sales) as max_sale from temp group by month) T1 inner join temp T2 on T1.max_sale=T2.sales"""
#with cte2 as (select month,year,max(sales) as max_sale from cte group by month,year)

# Run the query
temp2 = psql.sqldf(temp2, locals())
print(temp2)

     month    category    sales
0   202201   Furniture  32728.6
1   202202   Furniture  32829.8
2   202203   Furniture  30207.9
3   202204   Furniture  32281.5
4   202205   Furniture  23037.4
..     ...         ...      ...
67  202308  Technology  23199.7
68  202309  Technology  27676.1
69  202310  Technology  53000.1
70  202311  Technology  27517.9
71  202312  Technology  32663.8

[72 rows x 3 columns]
           category   month  max_sale
0         Furniture  202201   32728.6
1   Office Supplies  202202   33841.0
2         Furniture  202203   30207.9
3   Office Supplies  202204   40114.7
4        Technology  202205   30319.0
5        Technology  202206   36605.8
6   Office Supplies  202207   29098.8
7        Technology  202208   49488.5
8        Technology  202209   31585.1
9        Technology  202210   50021.0
10        Furniture  202211   32035.2
11       Technology  202212   38025.3
12       Technology  202301   36209.7
13       Technology  202302   48152.1
14       Technology  202303   29767.5
15       Technology  202304   45884.4
16       Technology  202305   31939.1
17       Technology  202306   28886.4
18  Office Supplies  202307   31682.5
19        Furniture  202308   42231.8
20       Technology  202309   27676.1
21       Technology  202310   53000.1
22       Technology  202311   27517.9
23  Office Supplies  202312   37586.4

In [190]:
#for each category which month  had highest sales?
query =f"""with cte as (select STRFTIME('%Y%m', order_date)  as month,
category, sum(selling_price) as sales from orders    group by 
category,STRFTIME('%Y%m', order_date) )
select * from (select *, row_number() over (partition by category order by sales desc) as rn
from cte) where rn=1
 """

# Run the query
temp2 = psql.sqldf(query, locals())
print(temp2)

    month         category    sales  rn
0  202210        Furniture  42888.9   1
1  202302  Office Supplies  44118.5   1
2  202310       Technology  53000.1   1

In [220]:
#which subcategory had highest growth in 2023 compared to 2022
query =f"""with cte as(select STRFTIME('%Y', order_date)  as year,
sub_category, sum(selling_price) as sales from orders    group by 
sub_category,STRFTIME('%Y', order_date) ),
cte2 as (select T1.sub_category, (T2.sales-T1.sales)/T1.sales*100 as growth from cte T1 inner join cte T2 on T1.year<>T2.Year and T1.sub_category=T2.sub_category where T1.year='2022')
select sub_category,growth from cte2 where growth in (select max(growth) from cte2 )
 """

# Run the query
temp2 = psql.sqldf(query, locals())
print(temp2)

  sub_category     growth
0     Supplies  79.158277